/* Reset CSS */
body {
    font-family: 'Gill Sans', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    text-align: center;
    background-color: red;
}

#título {
    text-align: center;
    color: white;
    background-color: red;
    font-size: 60px;
    padding: 0;
    width: auto;
}

#acessar {
    color: black ;
    text-align: right;
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    margin-top: -5px;
}

#acessar a:visited{  
    color: black;
        
}

#botão-acessar  {
    color: black ;
    text-align: right;
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    margin-top: -5px;
}

#botão-acessar :visited {
    color:black

}

a {
    color:black;
    text-decoration: none;
}


h1 {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 60px;
}

/* Conteúdo */
#logo1 {
    text-align: center;
}

#texto1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

#texto1  {
    color: white;
    background-color: black;
}

#botão-abrir-conta  {
    text-align: center;
}



#abrir-conta {
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border-color: white;
    padding: 5px;
    width: 210px;
}

#abrir-conta :visited {
  color: white;
 }

#conta-digital {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px;
}

#conta {
    color: white;
    font-size: 25px;
}

#baixar-app {
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border-color: white;
    padding: 5px;
    width: 210px;
}

#app {
    border-radius: 35px;
}

#cartão-crédito {
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

#credit-card {
    border-radius: 25px;
}

#cartão {
    color: black;
    font-size: 25px;
}

#peça-já {
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    width: 210px;
}

#peça-já :visited  {
    color: white;
}

/* Rodapé */
#rodapé {
    text-align: center;
    font-size: 15px;
}

#links  {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    color: white;
}

#links a:visited {
    color: white;
}

#pginicial {
    background-color: white;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}

#infos {
    color: white;
    font-size: 10px;
}

#texto2 {
    color: white;
    font-size: 40px;
}

main {
    display: flex;
}

#logo2 {
    text-align: center;
    width: 50vw;
}

#formulário {
    display: inline;
    background-color: white;
    color: rgb(90, 90, 90);
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
    width: 50vw;
}

#enviar {
    text-align: center;
    background-color: red; /* Exemplo de cor de fundo, você pode substituir pela cor desejada */
    color: white; /* Cor do texto no botão */
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
}

@media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }
